 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow: auto;
     
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
       overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    min-width: 320px;
    background: #fff;
   
}
.Logo{
    padding: 45px 25px 0 27px;
}

.wrapper_left_side_menu {
    position: fixed;
    top: 0;
    width: 320px;
    background: #303841;
    height: 100%;
}

.headbar_menu {
    margin-left: 320px;
    height: 40px;
    background: beige;
    
    
}

a{
    color: #fff;
}
p{
    font-weight: bold;
    color: #442a9d;
}

li > a > img {
    margin: 0 5%;
}

.accordion {
    padding-top: 10px;
}

.accordion li {
    padding: 15px;
}
.accordion li .sub-menu{
   /* height: 0;
    overflow: hidden;
    -webkit- transition: height .4s ease-in-out;
    -moz- transition: height .4s ease-in-out;
    -ms- transition: height .4s ease-in-out;
    -o- transition: height .4s ease-in-out;
    transition: height .4s ease-in-out;*/
}
.accordion li:target > .sum-menu{
height: auto;    
}
.accordion li a{
    display: block;
    position: relative;
    width: 170px;
    height: 32px;
     color: #fdfdfd;
    text-decoration: none;
    padding: 0 0px 0 10px;
}



.accordion li:hover{
    text-decoration: none;
    color:#fff;
    background-color: #442a9d;
    border-left: 5px solid yellow;
}

.accordion li:after {
    content: "";
    display: block;
    height: 1px;
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: #363d46;
}

.accordion li:hover::after {
    background: none;
}
.sub-menu li a{
    background: #442a9d;
    border-bottom: 1px solid # #f8f8f8;
    padding: 5px 5px 0 15px;
}
 
    
}
.headbar_menu{
    padding-top: 15px;
    height: 55px;
    background: #ссс;
    
}
.col-md-1{
     margin: 0px 0px 0 -55px;
    padding: 8px 0px 0px 0px;
    
}
#mail{
     
    margin: 7px 0px 0px 0px;
    padding: 0px 5px;
}
.col-md-4{
    margin-left:40px; 
    
}
#name{
    
    margin-top: 8px
}
   header {
    width:100%;
    padding-right: 0px;
}
hr {
    color: #f8f8f8;
}


 
    
  
#responsive-menu {
    
    padding: 0px 0px 0px 339px;
   
}
#responsive-menu ul li{
    float: left;
 
    
}   
#responsive-menu ul li a{
    color: #303841;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 17px; 20px;
   
}
#responsive-menu ul li a:hover{
     border-bottom: 5px solid #442a9d;
    border-radius:2px;
    background-color:#fff;
 
    
} 

.bayan > ul {
    display: none;
}

.bayan.active > ul {
    display: block;
}














